@font-face {
  font-family: "K2D-Regular";
  src: url("../font/k2d/K2D-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "K2D-Bold";
  src: url("../font/k2d/K2D-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "K2D-Medium";
  src: url("../font/k2d/K2D-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "K2D-Light";
  src: url("../font/k2d/K2D-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Lato-Regular";
  src: url("../font/Lato/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato/Lato-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/Open_Sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../font/Open_Sans/OpenSans-Bold.ttf") format("truetype"); }
/* begin standard */
/* end standard */
body {
  font-family: "OpenSans-Regular";
  font-size: 15px;
  color: #3c3c3c;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px; }

img {
  max-width: 100%; }

a {
  color: #3c3c3c;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }
  a:hover {
    color: #2f2f2f; }

a figure {
  overflow: hidden;
  position: relative;
  margin: 0; }
  a figure div {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
a:hover figure div {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1); }

.clr {
  clear: both; }

/* start callnow */
.callnow-circle-fill {
  width: 40px;
  height: 40px;
  top: 41px;
  left: 12px; }

.callnow-circle {
  width: 65px;
  height: 65px;
  top: 28px;
  left: 0; }

.callnow-img-circle {
  width: 30px;
  height: 30px;
  top: 46px;
  left: 17px; }

/* end callnow */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* begin note */
.note-danger {
  background-color: #fef7f8;
  border-left: 5px solid #f0868e; }

.note-success {
  background-color: #c0edf1;
  border-left: 5px solid #58d0da; }

.note {
  padding: 15px 15px 15px 15px;
  margin-top: 15px;
  display: none;
  color: #000;
  text-transform: uppercase; }

/* end note */
.ajax_loader {
  background-image: url(../img/ajax-loader.gif);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 15px auto 0 auto;
  display: none; }

.ajax_loader_contact {
  background-image: url(../img/ajax-loader.gif);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-left: 15px;
  display: none;
  float: left; }

.page-numbers {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0px;
  padding-left: 0; }
  .page-numbers li {
    float: left;
    margin-right: 5px; }
    .page-numbers li span {
      display: block; }
      .page-numbers li span.current {
        background-color: #ffe03d;
        padding: 2px 11px;
        border-radius: 5px;
        color: #ffffff; }
    .page-numbers li a {
      display: block;
      background-color: #d8d8d8;
      padding: 2px 10px;
      border-radius: 5px;
      color: #ffffff;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
      .page-numbers li a:hover {
        background-color: #ffe03d; }

/* start pan search */
.pan_search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 3; }
  .pan_search .pan_close {
    position: absolute;
    top: 0;
    right: 10px; }
    .pan_search .pan_close a {
      color: #ffffff;
      font-family: "OpenSans-Bold";
      font-size: 30px; }
  .pan_search .frmsearcharticle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 80px;
    margin-top: -40px;
    margin-left: -400px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    .pan_search .frmsearcharticle .vatimkiem {
      width: 90%;
      height: 100%; }
      .pan_search .frmsearcharticle .vatimkiem .txt_search {
        color: #fff;
        background: transparent;
        border: none;
        font-size: 40px;
        font-family: "OpenSans-Regular";
        font-weight: 300;
        text-align: center;
        outline: none;
        padding: 10px;
        width: 100%;
        height: 100%; }
    .pan_search .frmsearcharticle .btnsearch {
      position: absolute;
      right: 15px;
      top: 0;
      height: 100%; }
      .pan_search .frmsearcharticle .btnsearch a {
        display: flex;
        height: 100%;
        align-items: center;
        jutify-content: center; }

/* end pan search */
.ddsmoothmenu ul li ul li a {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  text-transform: uppercase;
  background-color: #3c3c3c; }
  .ddsmoothmenu ul li ul li a:link, .ddsmoothmenu ul li ul li a:visited {
    color: #fff; }
.ddsmoothmenu > ul > li > a {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  padding: 18px 20px;
  border-right: 1px solid #909090; }
  .ddsmoothmenu > ul > li > a:link, .ddsmoothmenu > ul > li > a:visited {
    color: #ffe03d; }
  .ddsmoothmenu > ul > li > a:hover, .ddsmoothmenu > ul > li > a.selected {
    background-color: #ffe03d !important;
    color: #3c3c3c; }
  @media (max-width: 1024px) {
    .ddsmoothmenu > ul > li > a {
      padding: 15px 20px; } }
.ddsmoothmenu > ul > li:last-child a {
  border-right: 0; }
.ddsmoothmenu > ul > li.current-menu-item > a {
  background-color: #ffe03d !important;
  color: #3c3c3c; }
.ddsmoothmenu > ul > li > ul {
  margin-top: 3px; }
  .ddsmoothmenu > ul > li > ul li a {
    border-right: 1px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;
    width: 220px;
    padding: 6px 10px;
    font-family: "OpenSans-Bold"; }
    .ddsmoothmenu > ul > li > ul li a:hover, .ddsmoothmenu > ul > li > ul li a.selected {
      background-color: #ffe03d !important;
      color: #3c3c3c; }
  .ddsmoothmenu > ul > li > ul li.current-menu-item a {
    background-color: #ffe03d !important; }

.scrollTop {
  position: fixed;
  right: 7%;
  bottom: 30px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  z-index: 999; }
  .scrollTop a {
    font-size: 25px;
    color: #141414;
    background-color: #ffe03d;
    padding: 0px 11px 1px 11px;
    display: block;
    border-radius: 18px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }
    .scrollTop a:hover {
      background-color: #ffd80a; }

.section-breadcrum {
  background-color: #efefef; }

.container-breadcrumb span a {
  color: #1b1b18;
  font-weight: 400; }

.breadcrumb-span-slash {
  padding-left: 5px;
  padding-right: 5px;
  color: #ccc; }

.div-pagination .page-numbers {
  padding: 0px;
  list-style-type: none; }
  .div-pagination .page-numbers li {
    display: inline-block; }
    .div-pagination .page-numbers li a, .div-pagination .page-numbers li span {
      padding: 7px 12px;
      color: white;
      background: #dedede;
      margin: 0px 2px; }
      .div-pagination .page-numbers li a:hover, .div-pagination .page-numbers li span:hover {
        background: #3c3c3c; }
    .div-pagination .page-numbers li span {
      cursor: default;
      background: #3c3c3c; }
    .div-pagination .page-numbers li:first-child a, .div-pagination .page-numbers li:first-child span {
      margin-left: 0px; }
    .div-pagination .page-numbers li:last-child a, .div-pagination .page-numbers li:last-child span {
      margin-right: 0px; }

.mobile_navbar {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 2; }
  .mobile_navbar .bg-light {
    background: transparent !important; }
    .mobile_navbar .bg-light .navbar-toggler {
      border: 0; }
    .mobile_navbar .bg-light .navbar-nav a {
      color: #3c3c3c;
      display: block;
      padding: 10px 10px;
      text-transform: uppercase;
      font-family: "OpenSans-Bold"; }
    .mobile_navbar .bg-light .navbar-nav ul {
      padding-left: 0; }
    .mobile_navbar .bg-light .navbar-collapse {
      background-color: #ffe03d;
      margin-top: 27px; }
    .mobile_navbar .bg-light .sub-menu {
      list-style: none; }
  .mobile_navbar .navbar {
    padding: 0; }
  .mobile_navbar .navbar-light .navbar-toggler-icon {
    background-image: url("../img/nav-line.png"); }

.box-complete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .box-complete-overlay.active {
    display: block; }

.box-complete {
  z-index: 1011;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: block;
  padding: 60px;
  color: #fff;
  background-color: #09b400;
  border: 1px solid #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: none; }
  @media (max-width: 991px) {
    .box-complete {
      width: 100%;
      padding: 40px 10px; } }
  .box-complete.show {
    display: block; }
  .box-complete .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #fff; }
    .box-complete .btn-close:hover {
      transition: all 300ms ease;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      opacity: 0.8; }

.pan_search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 3; }
  .pan_search .pan_close {
    position: absolute;
    top: 0;
    right: 10px; }
    .pan_search .pan_close a {
      color: #ffffff;
      font-family: "OpenSans-Bold";
      font-size: 30px; }
  .pan_search .frmsearcharticle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 80px;
    margin-top: -40px;
    margin-left: -400px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
    .pan_search .frmsearcharticle .vatimkiem {
      width: 90%;
      height: 100%; }
      .pan_search .frmsearcharticle .vatimkiem .txt_search {
        color: #fff;
        background: transparent;
        border: none;
        font-size: 40px;
        font-family: "OpenSans-Regular";
        font-weight: 300;
        text-align: center;
        outline: none;
        padding: 10px;
        width: 100%;
        height: 100%; }
    .pan_search .frmsearcharticle .btnsearch {
      position: absolute;
      right: 15px;
      top: 0;
      height: 100%; }
      .pan_search .frmsearcharticle .btnsearch a {
        display: flex;
        height: 100%;
        align-items: center;
        jutify-content: center; }

.header_bg_mobile {
  position: relative;
  display: none; }
  @media (max-width: 992px) {
    .header_bg_mobile {
      display: block;
      height: 100px; } }
  .header_bg_mobile .logo_mobile {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -50px;
    z-index: 3; }
  .header_bg_mobile .phone_mobile_view {
    position: absolute;
    right: 35px;
    top: 30px;
    z-index: 3; }
    .header_bg_mobile .phone_mobile_view a {
      color: #7d7d7d;
      font-size: 30px;
      font-weight: bold; }

.s_frm_search {
  position: relative;
  width: 500px;
  float: left; }
  .s_frm_search .liu_search {
    margin-top: 25px;
    width: 100%; }
    .s_frm_search .liu_search input {
      border: 0;
      outline: none;
      width: 100%;
      background: #ebebeb;
      border-radius: 20px;
      padding: 5px 10px; }
  .s_frm_search .btn_kinhlup {
    position: absolute;
    top: 28px;
    right: 10px; }
    .s_frm_search .btn_kinhlup a {
      color: #c4c4c4; }

.header_bg {
  margin-top: 25px;
  margin-bottom: 25px; }
  @media (max-width: 992px) {
    .header_bg {
      display: none; } }
  .header_bg .email_info_box {
    margin-top: 28px;
    float: left;
    margin-left: 50px; }
    .header_bg .email_info_box .email_info_left {
      float: left;
      color: #ffe03d; }
    .header_bg .email_info_box .email_info_right {
      float: left;
      margin-left: 10px; }
      .header_bg .email_info_box .email_info_right a {
        color: #282828;
        font-size: 13px;
        font-family: "OpenSans-Regular"; }
  .header_bg .social_lst {
    list-style: none;
    margin-top: 23px;
    float: left;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 25px; }
    @media (max-width: 1024px) {
      .header_bg .social_lst {
        display: none; } }
    .header_bg .social_lst li {
      float: left;
      margin-right: 8px; }
      .header_bg .social_lst li a {
        color: #7d7d7d;
        font-size: 20px; }

.mainmenu_box {
  background-color: #3c3c3c; }
  @media (max-width: 992px) {
    .mainmenu_box {
      display: none; } }
  .mainmenu_box .phone_box {
    margin-top: 13px;
    background-color: #ffe03d;
    padding: 3px 0px;
    border-radius: 15px; }
    @media (max-width: 1024px) {
      .mainmenu_box .phone_box {
        margin-top: 11px; } }
    .mainmenu_box .phone_box .phone-left {
      float: left;
      margin-left: 15px; }
    .mainmenu_box .phone_box .phone-right {
      float: left;
      margin-left: 10px; }
      .mainmenu_box .phone_box .phone-right a {
        font-size: 14px;
        font-family: "OpenSans-Bold"; }

.box-news {
  margin-top: 55px; }
  .box-news .box-item-news {
    margin-bottom: 30px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 30px; }
    .box-news .box-item-news:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
    .box-news .box-item-news .box-item-news-title a {
      font-size: 18px;
      font-family: "OpenSans-Bold";
      text-transform: uppercase; }
      @media (max-width: 240px) {
        .box-news .box-item-news .box-item-news-title a {
          font-size: 15px; } }
    .box-news .box-item-news .box-item-news-excerpt {
      margin-top: 10px; }
    .box-news .box-item-news .box-item-readmore {
      margin-top: 20px; }
      .box-news .box-item-news .box-item-readmore a {
        display: inline-block;
        background-color: #ffe03d;
        text-transform: uppercase;
        padding: 7px 23px;
        border-radius: 17px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s; }
        .box-news .box-item-news .box-item-readmore a:hover {
          background-color: #3c3c3c;
          color: #ffe03d; }
        @media (max-width: 740px) {
          .box-news .box-item-news .box-item-readmore a {
            font-size: 12px;
            padding: 7px 15px;
            border-radius: 17px; } }

.dvvp {
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  background-color: #ffe03d;
  padding: 25px 0px; }
  @media (max-width: 320px) {
    .dvvp {
      font-size: 20px; } }
  @media (max-width: 240px) {
    .dvvp {
      font-size: 15px; } }

.register-box {
  background-image: url("../img/register-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px; }
  @media (max-width: 992px) {
    .register-box {
      background-image: url("../img/register-bg-tablet.png");
      background-position: -90px 0; } }
  @media (max-width: 740px) {
    .register-box {
      background-image: url("../img/register-bg.png");
      background-position: 0px 0; } }
  .register-box .register-box-dotted {
    border: 2px #3c3c3c dashed;
    height: 100%;
    padding: 0 20px 35px 20px; }
    @media (max-width: 992px) {
      .register-box .register-box-dotted {
        border: 1px #3c3c3c dashed; } }
    .register-box .register-box-dotted .register-title {
      text-transform: uppercase;
      font-size: 33px;
      font-family: "OpenSans-Bold";
      text-align: center;
      padding: 0px 35px;
      margin-top: 45px; }
      @media (max-width: 992px) {
        .register-box .register-box-dotted .register-title {
          font-size: 22px; } }
      @media (max-width: 240px) {
        .register-box .register-box-dotted .register-title {
          font-size: 15px; } }
    .register-box .register-box-dotted .register-line {
      width: 45px;
      border: 3px solid #3c3c3c;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px; }
    .register-box .register-box-dotted .register-form {
      margin-top: 40px; }
      .register-box .register-box-dotted .register-form .register-row-2 {
        margin-bottom: 10px; }
        @media (max-width: 992px) {
          .register-box .register-box-dotted .register-form .register-row-2:first-child {
            float: left;
            width: 49%;
            margin-right: 5px; } }
        @media (max-width: 576px) {
          .register-box .register-box-dotted .register-form .register-row-2:first-child {
            width: 100%;
            margin-right: 0; } }
        @media (max-width: 992px) {
          .register-box .register-box-dotted .register-form .register-row-2:nth-child(2) {
            float: left;
            width: 50%; } }
        @media (max-width: 740px) {
          .register-box .register-box-dotted .register-form .register-row-2:nth-child(2) {
            width: 49%; } }
        @media (max-width: 576px) {
          .register-box .register-box-dotted .register-form .register-row-2:nth-child(2) {
            width: 100%; } }
        .register-box .register-box-dotted .register-form .register-row-2 .register-txt {
          border: 0;
          background-color: #ffffff;
          color: #3c3c3c;
          width: 100%;
          padding: 10px 5px; }
      .register-box .register-box-dotted .register-form .register-row {
        margin-bottom: 10px; }
        .register-box .register-box-dotted .register-form .register-row:last-child {
          margin-bottom: 0; }
        .register-box .register-box-dotted .register-form .register-row .register-txt {
          border: 0;
          background-color: #ffffff;
          color: #3c3c3c;
          width: 100%;
          padding: 10px 5px; }
      .register-box .register-box-dotted .register-form .register-submit {
        text-align: center;
        margin-top: 20px; }
        .register-box .register-box-dotted .register-form .register-submit a {
          display: inline-block;
          color: #ffffff;
          text-transform: uppercase;
          font-family: "OpenSans-Bold";
          font-size: 14px;
          background-color: #3c3c3c;
          padding: 10px; }

.ritan {
  margin-top: 30px; }

.fanpage-box {
  margin-top: 30px; }

.footer .footer_copyright {
  padding: 20px 0;
  text-align: center;
  font-size: 11px;
  background: #313131; }
  .footer .footer_copyright .golden_home a {
    color: #ffe03d;
    font-size: 15px; }
  .footer .footer_copyright .redi_link a {
    color: #ffe03d;
    font-size: 15px; }
.footer .copyright {
  color: #ffe03d;
  font-size: 15px; }
.footer .footer-top {
  background-color: #3c3c3c;
  padding: 60px 0px; }
  @media (max-width: 740px) {
    .footer .footer-top .footer-address-phone-email-box {
      margin-top: 30px; } }
  .footer .footer-top .footer-address-phone-email-box .footer-icon {
    color: #ffe03d; }
    @media (max-width: 240px) {
      .footer .footer-top .footer-address-phone-email-box .footer-icon {
        display: none; } }
  .footer .footer-top .footer-address-phone-email-box .footer-addr .tr_address {
    color: #ffffff;
    margin-left: 10px; }
    @media (max-width: 992px) {
      .footer .footer-top .footer-address-phone-email-box .footer-addr .tr_address {
        font-size: 13px; } }
    @media (max-width: 240px) {
      .footer .footer-top .footer-address-phone-email-box .footer-addr .tr_address {
        margin-left: 0; } }
  .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box {
    margin-top: 20px; }
    .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-phone-box {
      float: left; }
      @media (max-width: 740px) {
        .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-phone-box {
          width: auto; } }
      .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-phone-box .tr_phone {
        margin-left: 5px; }
        @media (max-width: 240px) {
          .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-phone-box .tr_phone {
            margin-left: 0; } }
        .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-phone-box .tr_phone a {
          color: #ffffff; }
          @media (max-width: 992px) {
            .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-phone-box .tr_phone a {
              font-size: 13px; } }
    .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box {
      float: left;
      margin-left: 10px; }
      @media (max-width: 740px) {
        .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box {
          width: auto;
          margin-left: 80px;
          margin-top: 0; } }
      @media (max-width: 576px) {
        .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box {
          width: auto;
          margin-left: 30px;
          margin-top: 0; } }
      @media (max-width: 375px) {
        .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box {
          width: 100%;
          margin-left: 0px;
          margin-top: 20px; } }
      .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box .tr_email {
        margin-left: 5px; }
        @media (max-width: 240px) {
          .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box .tr_email {
            margin-left: 0; } }
        .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box .tr_email a {
          color: #ffffff; }
          @media (max-width: 992px) {
            .footer .footer-top .footer-address-phone-email-box .footer-phone-email-box .footer-email-box .tr_email a {
              font-size: 13px; } }
  .footer .footer-top .blog-info-social {
    float: left;
    margin-left: 50px; }
    @media (max-width: 992px) {
      .footer .footer-top .blog-info-social {
        margin-left: 30px; } }
    @media (max-width: 320px) {
      .footer .footer-top .blog-info-social {
        margin-left: 0px;
        width: 100%;
        text-align: center; } }
    .footer .footer-top .blog-info-social .bloginfo_name {
      text-transform: uppercase;
      font-size: 18px;
      font-family: "OpenSans-Bold";
      color: #ffffff; }
      @media (max-width: 992px) {
        .footer .footer-top .blog-info-social .bloginfo_name {
          font-size: 13px; } }
      @media (max-width: 740px) {
        .footer .footer-top .blog-info-social .bloginfo_name {
          margin-top: 30px; } }
    @media (max-width: 320px) {
      .footer .footer-top .blog-info-social .blog-social {
        width: 125px;
        margin: 20px auto 0px auto; } }
    .footer .footer-top .blog-info-social .blog-social .social_lst {
      list-style: none;
      float: left;
      margin-bottom: 0;
      padding-left: 0; }
      .footer .footer-top .blog-info-social .blog-social .social_lst li {
        float: left;
        margin-right: 8px; }
        .footer .footer-top .blog-info-social .blog-social .social_lst li a {
          color: #ffffff;
          font-size: 25px; }
  .footer .footer-top .footer_logo {
    float: left; }
    @media (max-width: 320px) {
      .footer .footer-top .footer_logo {
        width: 100%;
        margin-left: 0;
        text-align: center; } }

.box-single {
  margin-top: 30px;
  margin-bottom: 30px; }
  .box-single .diem_kd_h {
    font-size: 28px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    margin-bottom: 10px; }
  .box-single .news_published_date {
    margin-bottom: 10px; }

.box_contact {
  margin-top: 50px;
  margin-bottom: 75px; }
  @media (max-width: 992px) {
    .box_contact {
      margin-top: 30px;
      margin-bottom: 45px; } }
  @media (max-width: 240px) {
    .box_contact {
      margin-top: 20px;
      margin-bottom: 25px; } }
  .box_contact .cc_frm_contact {
    margin-top: 40px; }
  .box_contact .ctinfo {
    margin-bottom: 35px; }
    @media (max-width: 992px) {
      .box_contact .ctinfo {
        margin-bottom: 20px; } }
    @media (max-width: 576px) {
      .box_contact .ctinfo:first-child {
        margin-top: 40px; } }
    .box_contact .ctinfo .ctinfo_left {
      float: left; }
      @media (max-width: 240px) {
        .box_contact .ctinfo .ctinfo_left {
          display: none; } }
      .box_contact .ctinfo .ctinfo_left .contact-box-home {
        background-color: #ffe03d;
        padding: 9px 13px;
        border-radius: 18px; }
    .box_contact .ctinfo .ctinfo_right {
      float: left;
      margin-left: 15px;
      width: 85%; }
      @media (max-width: 1024px) {
        .box_contact .ctinfo .ctinfo_right {
          width: 80%; } }
      @media (max-width: 992px) {
        .box_contact .ctinfo .ctinfo_right {
          width: 75%; } }
      @media (max-width: 740px) {
        .box_contact .ctinfo .ctinfo_right {
          width: 70%; } }
      @media (max-width: 240px) {
        .box_contact .ctinfo .ctinfo_right {
          width: 100%;
          margin-left: 0; } }
      .box_contact .ctinfo .ctinfo_right .ctinfo_right_text {
        font-family: "OpenSans-Bold";
        text-transform: uppercase; }
        @media (max-width: 240px) {
          .box_contact .ctinfo .ctinfo_right .ctinfo_right_text {
            font-size: 15px; } }
      @media (max-width: 240px) {
        .box_contact .ctinfo .ctinfo_right .ctinfo_right_op {
          font-size: 13px; } }
      @media (max-width: 240px) {
        .box_contact .ctinfo .ctinfo_right .ctinfo_right_op_a a {
          font-size: 13px; } }
  .box_contact .contact_title {
    text-transform: uppercase;
    color: #ffe03d;
    font-family: "OpenSans-Bold";
    font-size: 32px;
    margin-bottom: 20px; }
    @media (max-width: 576px) {
      .box_contact .contact_title {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .box_contact .contact_title {
        font-size: 18px; } }
    @media (max-width: 240px) {
      .box_contact .contact_title {
        font-size: 14px;
        margin-bottom: 10px; } }
  .box_contact .ck_contact {
    margin-top: 10px; }
  .box_contact .ck_submit {
    margin-top: 10px; }
    .box_contact .ck_submit a {
      display: block;
      color: #ffffff;
      padding: 5px 50px;
      background-color: #ffe03d;
      font-family: "OpenSans-Bold";
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 5px;
      float: left;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
      .box_contact .ck_submit a:hover {
        background-color: #3c3c3c; }
  .box_contact .box_google_map {
    margin-top: 75px; }
    @media (max-width: 992px) {
      .box_contact .box_google_map {
        margin-top: 30px; } }

.box-news-2 {
  margin-bottom: 20px; }

.box_news_detail {
  margin-top: 50px;
  margin-bottom: 30px; }
  @media (max-width: 740px) {
    .box_news_detail {
      margin-top: 20px; } }
  .box_news_detail .diem_kd_h {
    color: #ffe03d;
    font-size: 32px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    margin-bottom: 10px; }
    @media (max-width: 740px) {
      .box_news_detail .diem_kd_h {
        font-size: 15px;
        margin-bottom: 10px; } }
  .box_news_detail .news_published_date {
    margin-bottom: 30px; }
    .box_news_detail .news_published_date .published_date_txt {
      margin-left: 10px; }
    @media (max-width: 740px) {
      .box_news_detail .news_published_date {
        margin-bottom: 10px; } }
  .box_news_detail .business_position_other {
    background-color: #ffe03d;
    padding: 30px 50px; }
    @media (max-width: 1024px) {
      .box_news_detail .business_position_other {
        padding: 30px 15px; } }
    @media (max-width: 992px) {
      .box_news_detail .business_position_other {
        padding: 10px 15px; } }
    .box_news_detail .business_position_other .business_position_other_left {
      float: left; }
    .box_news_detail .business_position_other .business_position_other_right {
      float: left;
      font-family: "OpenSans-Bold";
      color: #ffffff;
      text-transform: uppercase;
      font-size: 15px;
      margin-top: 5px;
      margin-left: 10px;
      width: 54%; }
  .box_news_detail .line_circle {
    margin-top: 5px; }
  .box_news_detail .business_position_other_box {
    border-left: 1px solid #eae8e8;
    border-right: 1px solid #eae8e8;
    border-bottom: 1px solid #eae8e8;
    padding: 20px 15px 0 15px; }
    .box_news_detail .business_position_other_box .diemkinhdoanhv2 {
      position: relative;
      padding-bottom: 15px;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 15px; }
      .box_news_detail .business_position_other_box .diemkinhdoanhv2:last-child {
        border-bottom: 0; }
      .box_news_detail .business_position_other_box .diemkinhdoanhv2 .dkdimg {
        text-align: center;
        float: left; }
        .box_news_detail .business_position_other_box .diemkinhdoanhv2 .dkdimg a {
          display: block; }
          .box_news_detail .business_position_other_box .diemkinhdoanhv2 .dkdimg a img {
            width: 80px;
            height: 55px; }
            @media (max-width: 1024px) {
              .box_news_detail .business_position_other_box .diemkinhdoanhv2 .dkdimg a img {
                width: auto;
                height: auto; } }
            @media (max-width: 992px) {
              .box_news_detail .business_position_other_box .diemkinhdoanhv2 .dkdimg a img {
                width: 120px;
                height: 85px; } }
            @media (max-width: 576px) {
              .box_news_detail .business_position_other_box .diemkinhdoanhv2 .dkdimg a img {
                width: 75px;
                height: 45px; } }
            @media (max-width: 320px) {
              .box_news_detail .business_position_other_box .diemkinhdoanhv2 .dkdimg a img {
                width: auto;
                height: auto; } }
      .box_news_detail .business_position_other_box .diemkinhdoanhv2 .business_item_title {
        float: left;
        margin-left: 10px;
        margin-top: -5px;
        width: 55%; }
        @media (max-width: 1024px) {
          .box_news_detail .business_position_other_box .diemkinhdoanhv2 .business_item_title {
            width: auto;
            margin-left: 0;
            margin-top: 0; } }
        @media (max-width: 992px) {
          .box_news_detail .business_position_other_box .diemkinhdoanhv2 .business_item_title {
            margin-left: 10px; } }
        @media (max-width: 320px) {
          .box_news_detail .business_position_other_box .diemkinhdoanhv2 .business_item_title {
            width: auto;
            margin-left: 0;
            margin-top: 0; } }
        .box_news_detail .business_position_other_box .diemkinhdoanhv2 .business_item_title h3 {
          line-height: 20px; }
          .box_news_detail .business_position_other_box .diemkinhdoanhv2 .business_item_title h3 a {
            text-transform: uppercase;
            color: #5a5a5a;
            font-size: 13px;
            font-family: "OpenSans-Bold"; }
  .box_news_detail .box_social_network {
    background-color: #eae8e8;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    padding-top: 15px; }
    @media (max-width: 576px) {
      .box_news_detail .box_social_network {
        margin-bottom: 20px; } }
    .box_news_detail .box_social_network .social_net_work_title {
      font-size: 20px;
      color: #232323;
      text-transform: uppercase;
      text-align: center;
      font-family: "OpenSans-Bold"; }
    .box_news_detail .box_social_network .social_nw_line {
      border-top: 2px solid #c2c1c1;
      width: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 20px; }
    .box_news_detail .box_social_network .social_real {
      text-align: center;
      padding-bottom: 10px; }
      .box_news_detail .box_social_network .social_real a {
        color: #ffffff;
        font-size: 20px;
        display: block; }
      .box_news_detail .box_social_network .social_real .social_w {
        width: 48%; }
      .box_news_detail .box_social_network .social_real .social_left {
        float: left; }
        .box_news_detail .box_social_network .social_real .social_left .social_facebook {
          background-color: #3b5795;
          padding: 5px 0px; }
        .box_news_detail .box_social_network .social_real .social_left .social_pinterest {
          background-color: #9c0007;
          padding: 5px 0px; }
      .box_news_detail .box_social_network .social_real .social_right {
        float: right; }
        .box_news_detail .box_social_network .social_real .social_right .social_google_plus {
          background-color: #db4742;
          padding: 5px 0px; }
        .box_news_detail .box_social_network .social_real .social_right .social_twitter {
          background-color: #0bbadb;
          padding: 5px 0px; }

.box_diem_kinh_doanh_chi_tiet {
  margin-top: 50px; }
  .box_diem_kinh_doanh_chi_tiet .diem_kd_h {
    color: #ffe03d;
    font-size: 32px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .box_diem_kinh_doanh_chi_tiet .diem_kd_h {
        margin-bottom: 20px; } }
    @media (max-width: 240px) {
      .box_diem_kinh_doanh_chi_tiet .diem_kd_h {
        font-size: 20px; } }
  .box_diem_kinh_doanh_chi_tiet .business_position_other .business_position_other_left {
    float: left; }
  .box_diem_kinh_doanh_chi_tiet .business_position_other .business_position_other_right {
    float: left;
    font-family: "OpenSans-Bold";
    color: #ffe03d;
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 3px;
    margin-left: 10px; }
    @media (max-width: 240px) {
      .box_diem_kinh_doanh_chi_tiet .business_position_other .business_position_other_right {
        font-size: 15px; } }
  .box_diem_kinh_doanh_chi_tiet .line_circle {
    margin-top: 5px; }
  .box_diem_kinh_doanh_chi_tiet .business_position_other_box {
    margin-top: 15px; }
    .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 {
      margin-bottom: 15px; }
      .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a {
        display: block;
        position: relative;
        overflow: hidden; }
        .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .dkdimg {
          text-align: center; }
          .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .dkdimg img {
            border-radius: 25px;
            width: 255px;
            height: 170px; }
            @media (max-width: 1024px) {
              .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .dkdimg img {
                width: auto;
                height: auto; } }
        .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .business_item_title {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 15px;
          padding: 0px 30px; }
          @media (max-width: 1024px) {
            .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .business_item_title {
              padding: 0px 100px; } }
          @media (max-width: 740px) {
            .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .business_item_title {
              padding: 0px 30px; } }
          .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .business_item_title h3 {
            line-height: 20px;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 15px;
            font-family: "OpenSans-Bold"; }
        .box_diem_kinh_doanh_chi_tiet .business_position_other_box .diemkinhdoanhv2 a .overlay {
          background-image: linear-gradient(to top, #000, #747474);
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          left: 0;
          top: 0;
          opacity: 0.3;
          border-radius: 25px; }

.service-box {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  padding: 10px; }
  @media (max-width: 992px) {
    .service-box {
      padding: 10px 0; } }
  @media (max-width: 740px) {
    .service-box {
      padding: 10px 10px; } }
  .service-box .service-item {
    background-color: #ebebeb;
    padding: 10px;
    margin-bottom: 10px; }
    @media (max-width: 992px) {
      .service-box .service-item {
        float: left;
        width: 48%;
        margin-left: 10px; } }
    @media (max-width: 740px) {
      .service-box .service-item {
        width: 100%;
        margin-left: 0px; } }
    .service-box .service-item:last-child {
      margin-bottom: 0; }
    .service-box .service-item .service-left-item {
      float: left;
      width: 30%; }
      @media (max-width: 740px) {
        .service-box .service-item .service-left-item {
          width: 15%; } }
      @media (max-width: 576px) {
        .service-box .service-item .service-left-item {
          width: 30%; } }
      @media (max-width: 320px) {
        .service-box .service-item .service-left-item {
          width: 20%; } }
      @media (max-width: 240px) {
        .service-box .service-item .service-left-item {
          width: 100%; } }
    .service-box .service-item .service-right-item {
      float: left;
      margin-left: 15px;
      position: relative; }
      @media (max-width: 740px) {
        .service-box .service-item .service-right-item {
          width: 75%; } }
      @media (max-width: 576px) {
        .service-box .service-item .service-right-item {
          width: auto; } }
      @media (max-width: 320px) {
        .service-box .service-item .service-right-item {
          margin-left: 10px; } }
      @media (max-width: 240px) {
        .service-box .service-item .service-right-item {
          width: 100%;
          margin-left: 0; } }
      .service-box .service-item .service-right-item .service-right-title {
        line-height: 15px; }
        .service-box .service-item .service-right-item .service-right-title a {
          text-transform: uppercase;
          font-family: "OpenSans-Bold";
          font-size: 13px; }
      .service-box .service-item .service-right-item .service-price {
        margin-top: 5px; }
      .service-box .service-item .service-right-item .th-dk {
        margin-top: 15px; }
        @media (max-width: 740px) {
          .service-box .service-item .service-right-item .th-dk {
            position: absolute;
            right: 0;
            top: 0; } }
        @media (max-width: 576px) {
          .service-box .service-item .service-right-item .th-dk {
            position: static; } }
        .service-box .service-item .service-right-item .th-dk .timhieu {
          float: left;
          text-align: center; }
          .service-box .service-item .service-right-item .th-dk .timhieu a {
            display: inline-block;
            background: transparent;
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 12px;
            border: 1px solid #3c3c3c;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s; }
            .service-box .service-item .service-right-item .th-dk .timhieu a:hover {
              background-color: #3c3c3c;
              color: #ffe03d; }
            @media (max-width: 1024px) {
              .service-box .service-item .service-right-item .th-dk .timhieu a {
                padding: 5px 10px; } }
            @media (max-width: 992px) {
              .service-box .service-item .service-right-item .th-dk .timhieu a {
                padding: 5px 15px; } }
            @media (max-width: 320px) {
              .service-box .service-item .service-right-item .th-dk .timhieu a {
                padding: 5px 20px; } }
            @media (max-width: 240px) {
              .service-box .service-item .service-right-item .th-dk .timhieu a {
                padding: 5px 15px; } }
        .service-box .service-item .service-right-item .th-dk .dangky {
          float: left;
          margin-left: 10px;
          text-align: center; }
          .service-box .service-item .service-right-item .th-dk .dangky a {
            display: inline-block;
            background-color: #ffe03d;
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 12px;
            border: 1px solid #ffe03d;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s; }
            .service-box .service-item .service-right-item .th-dk .dangky a:hover {
              background-color: #3c3c3c;
              color: #ffe03d;
              border: 1px solid #3c3c3c; }
            @media (max-width: 1024px) {
              .service-box .service-item .service-right-item .th-dk .dangky a {
                padding: 5px 10px; } }
            @media (max-width: 992px) {
              .service-box .service-item .service-right-item .th-dk .dangky a {
                padding: 5px 15px; } }
            @media (max-width: 320px) {
              .service-box .service-item .service-right-item .th-dk .dangky a {
                padding: 5px 20px; } }
            @media (max-width: 240px) {
              .service-box .service-item .service-right-item .th-dk .dangky a {
                padding: 5px 15px; } }
  @media (max-width: 992px) {
    .service-box .service-viewall {
      padding: 0px 10px; } }
  @media (max-width: 740px) {
    .service-box .service-viewall {
      padding: 0; } }
  .service-box .service-viewall a {
    display: block;
    background-color: #dddddd;
    text-align: center;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }
    .service-box .service-viewall a:hover {
      background-color: #3c3c3c;
      color: #ffffff; }

.hool-pagination {
  margin-top: 20px; }

#baogiamodal .modal-dialog {
  max-width: 500px; }
  @media (max-width: 576px) {
    #baogiamodal .modal-dialog {
      max-width: 100%; } }
  #baogiamodal .modal-dialog .modal-content {
    border-radius: 20px;
    background-image: url("../img/register-bg.png");
    background-repeat: no-repeat;
    background-size: cover; }
    #baogiamodal .modal-dialog .modal-content .modal-body {
      padding: 0; }
      #baogiamodal .modal-dialog .modal-content .modal-body .cbblose {
        position: absolute;
        top: 5px;
        right: 5px; }
        #baogiamodal .modal-dialog .modal-content .modal-body .cbblose a {
          display: block;
          padding: 0px 5px;
          color: #ffffff;
          border-radius: 11px;
          background-color: #ffe03d; }
      #baogiamodal .modal-dialog .modal-content .modal-body .info_modal {
        padding: 40px; }
        #baogiamodal .modal-dialog .modal-content .modal-body .info_modal .info_title {
          text-transform: uppercase;
          font-family: "OpenSans-Bold";
          font-size: 24px;
          margin-bottom: 30px; }
        #baogiamodal .modal-dialog .modal-content .modal-body .info_modal .ck_contact {
          margin-bottom: 5px; }
        #baogiamodal .modal-dialog .modal-content .modal-body .info_modal .ck_submit {
          margin-top: 10px; }
          #baogiamodal .modal-dialog .modal-content .modal-body .info_modal .ck_submit a {
            display: block;
            color: #ffffff;
            padding: 5px 50px;
            background-color: #3c3c3c;
            font-family: "OpenSans-Bold";
            font-size: 15px;
            text-transform: uppercase;
            border-radius: 18px;
            float: left;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s; }
            #baogiamodal .modal-dialog .modal-content .modal-body .info_modal .ck_submit a:hover {
              background-color: #3c3c3c;
              color: #ffffff; }

.vcomment {
  color: #f7941d;
  font-size: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px; }

.bx-img {
  position: relative; }
  .bx-img .box-date {
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #282828;
    border-left: 2px solid #ffdc25;
    color: #ffffff;
    padding: 5px 5px; }

.box-service-mobile {
  display: none; }
  @media (max-width: 992px) {
    .box-service-mobile {
      display: block;
      margin-top: 55px; } }

@media (max-width: 992px) {
  .box-service-desktop {
    display: none; } }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -25px; }

.desktop-device {
  width: 350px;
  margin: 55px auto; }
  @media (max-width: 1024px) {
    .desktop-device {
      display: none; } }

.desktop-1024-device {
  display: none;
  width: 280px;
  margin: 55px auto; }
  @media (max-width: 1024px) {
    .desktop-1024-device {
      display: block; } }
  @media (max-width: 992px) {
    .desktop-1024-device {
      display: none; } }

.ipad-device {
  display: none;
  margin: 55px auto;
  width: 380px; }
  @media (max-width: 992px) {
    .ipad-device {
      display: block; } }
  @media (max-width: 740px) {
    .ipad-device {
      display: none; } }

.mobile-horizontal-device {
  display: none;
  margin: 55px auto;
  width: 510px; }
  @media (max-width: 740px) {
    .mobile-horizontal-device {
      display: block; } }
  @media (max-width: 576px) {
    .mobile-horizontal-device {
      display: none; } }

.mobile-vertical-device {
  display: none;
  margin: 55px auto;
  width: 380px; }
  @media (max-width: 576px) {
    .mobile-vertical-device {
      display: block; } }
  @media (max-width: 360px) {
    .mobile-vertical-device {
      display: none; } }

.mobile-vertical-360-device {
  display: none;
  margin: 55px auto;
  width: 330px; }
  @media (max-width: 360px) {
    .mobile-vertical-360-device {
      display: block; } }
  @media (max-width: 320px) {
    .mobile-vertical-360-device {
      display: none; } }

.mobile-vertical-320-device {
  display: none;
  margin: 55px auto;
  width: 285px; }
  @media (max-width: 320px) {
    .mobile-vertical-320-device {
      display: block; } }
  @media (max-width: 240px) {
    .mobile-vertical-320-device {
      display: none; } }

.mobile-vertical-240-device {
  display: none;
  margin: 55px auto;
  width: 205px; }
  @media (max-width: 240px) {
    .mobile-vertical-240-device {
      display: block; } }

.dich-vu-box .service-item {
  background-color: #ebebeb;
  padding: 10px;
  margin-bottom: 30px; }
  .dich-vu-box .service-item .service-left-item {
    float: left;
    width: 30%; }
  .dich-vu-box .service-item .service-right-item {
    float: left;
    margin-left: 15px;
    position: relative; }
    .dich-vu-box .service-item .service-right-item .service-right-title {
      line-height: 15px; }
      .dich-vu-box .service-item .service-right-item .service-right-title a {
        text-transform: uppercase;
        font-family: "OpenSans-Bold";
        font-size: 13px; }
    .dich-vu-box .service-item .service-right-item .service-price {
      margin-top: 5px; }
    .dich-vu-box .service-item .service-right-item .th-dk {
      margin-top: 15px; }
      .dich-vu-box .service-item .service-right-item .th-dk .timhieu {
        float: left;
        text-align: center; }
        .dich-vu-box .service-item .service-right-item .th-dk .timhieu a {
          display: inline-block;
          background: transparent;
          padding: 5px 10px;
          border-radius: 15px;
          font-size: 12px;
          border: 1px solid #3c3c3c;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s; }
          .dich-vu-box .service-item .service-right-item .th-dk .timhieu a:hover {
            background-color: #3c3c3c;
            color: #ffe03d; }
      .dich-vu-box .service-item .service-right-item .th-dk .dangky {
        float: left;
        margin-left: 10px;
        text-align: center; }
        .dich-vu-box .service-item .service-right-item .th-dk .dangky a {
          display: inline-block;
          background-color: #ffe03d;
          padding: 5px 10px;
          border-radius: 15px;
          font-size: 12px;
          border: 1px solid #ffe03d;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s; }
          .dich-vu-box .service-item .service-right-item .th-dk .dangky a:hover {
            background-color: #3c3c3c;
            color: #ffe03d;
            border: 1px solid #3c3c3c; }

/*# sourceMappingURL=style.css.map */
